.new-tweet form{
    display: flex;
    flex-direction: column;
}

.tweet-lab{
    font-weight: 600;
}

.tweet-text{
    border: none;
    outline: none;
    background-color: inherit;
    border-bottom: 3px solid black;
    font-weight: 600;
}

.new-tweet-footer{
    display: flex;
    justify-content: space-between;
    font-family: Bungee;
    margin-top: 20px;
}

.save-tweet-btn{
    border: none;
    background-color: #4056A1;
    color: #fff;
}

