.container {
    
}

.tweets-container{
    /* margin-top: 60px; */
}

.tweets-container footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.tweets-article{
    border: 3px solid;
    margin-top: 20px;
    padding: 10px;
}

.icon-span{
    display: flex;
    gap: 10px;
}

.icon-span button{
    border: none;
    outline: none;
}

.tweets-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

.tweets-header-left{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.tweets-header-content {
    border-bottom: 3px solid black;
    font-weight: 600;
    padding: 0 10px;
}

.tweets-header-content > p {
    padding: 10px;
    overflow-wrap: anywhere;
}

.icon-span i:hover {
    color: #D69621;
}

.tweet-error{
    display: none;
    text-align: center;
    margin: 30px 100px 5px 100px;
    padding: 15px;
    border: solid 3px red;
    color: red;
    font-weight: 500;
}

.scroll-up-btn{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    z-index: 10;
    cursor: pointer;
}

